<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %><br>
    <%= form.text_field :commenter, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :comment, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-control" %>
  </div>  
    <%= form.submit :Submit, class: "btn btn-primary" %>  
  <br>
  <br>
  <div class="mb-3">
    <%= form.label :status, class: "form-label"  %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div> 
<% end %>
  