<%= form_with model: article do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div class="mb-3">
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-control" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>
  
  <div class="mb-3">
    <%= form.label :tag_list, class: "form-label" %><br>
    <%= form.text_field :tag_list, class: "form-control" %>
  </div>
  <div class="mb-3">
      <%= form.submit :Submit, class: "btn btn-primary" %>
  </div>      
  <div class="mb-3">
      <%= form.label :status, class: "form-label" %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>  
<% end %>
  